/* ProjectDetailPage.css */
.container {
    padding: 16px;
  }
  
  .project-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .project-description {
    margin-bottom: 24px;
  }
  
  .project-info {
    margin-bottom: 24px;
  }
  
  .project-skills {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 16px;
  }

/* ProjectDetailPage.css */
.book-now-btn {
    margin-top: 40px;  /* Increased margin-top for more space above the button */
    padding: 12px 24px; /* Standard padding for the button */
  }
  
  
  