/* ProjectDetailPage.css */
.container {
    padding: 16px;
  }
  
  .project-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .project-description {
    margin-bottom: 24px;
  }
  
  .project-info {
    margin-bottom: 24px;
  }
  
  .project-skills {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  
  .book-now-btn {
    margin-top: 24px;
    padding: 12px 24px; /* Adjust padding for the button */
  }
  